

header {
    height: 100px;
    background-image: url(bg.jpeg);
    text-align : center;
    color : rgb(243, 214, 214);
    padding: 100px;
}
nav {
    display : flex;
    justify-content: flex-end;
    padding : 20px;
    margin-left:10px;
}


button{
   
        color: rgb(255, 255, 255); font-size: 15px; line-height: 15px; 
        padding: 10px; border-radius: 8px; font-weight: bold; 
        text-decoration: none;  
        font-style: normal; 
        font-variant: normal; text-transform: none; 
        background-image: linear-gradient(to right, rgb(211, 137, 221) 0%, rgb(174, 77, 219) 50%, rgb(104, 22, 211) 100%);  
         display: inline-block;
         text-align:center;
    
}


body {
    background-color:rgb(238, 222, 245);
    margin : 0 auto ;  
    width:1000px;

}


b {
   width : 80px;
    border : solid 1px ;
    border-radius : 10px;
    padding : 10px;
    margin :10px;
    display:inline-block;
    
}

.container{
    display: table;
    width:800px;
    padding : 10px;
    height: 300px;
    background-color : #4c4863 ;
    margin : auto;
    border-radius : 10px;
}
.wrapper{
    display:table-cell;
    vertical-align: middle;
    width: 200px;
}
.playlist_for_you{
    padding-top:15px;
    display: flex;
}
.thumnail{
    padding: 15px;
    display: table;
}
.chartthumnail{
    display: inline-block;

}
.title{
    display: table-cell;
    color:#fff;
    vertical-align: top;
    padding-left: 10px;

}
.sort{
 
    flex:1;
  
}
.sort2{
    flex:1;
}

.artist{
    display: table-cell;
    font-size:14px;
    color:rgb(212, 212, 212)
}
.favorite{
    padding:30px;
}
.dawn{
    display: table;
    padding-left :80px;
    height:250px;
    width: 800px;
}
.dawn_album{
    padding-left:10px;
}